body {
    padding-bottom: 20px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: #e80e0e;
    font-weight: bold;
}
    


/*Bootstrap Overrides*/


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.bg-primary {
    background-color: #ff7866 !important;
}

.navbar-nav .nav-link  {
    color:#ffffff

}

.form-group {
    margin-bottom: 20px;
}


.form-control {
   
    font-size: 17px;
    height: 55px;
    width: 500px;
    /*padding: 20px 15px;*/
    -ms-border-radius: 9px;
    border-radius:9px;
}

.form-control:focus {
    border-color: #2196f3;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    background: #ff7866;
}

.nav-item .dropdown .open, a:focus {
    background-color: rgba(205,40,39,0.55);
}

.dropdown-menu {
    -webkit-box-shadow:none;
    box-shadow:none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.nav-link a {
    color: white;
}

/*Index styles*/
.gigs {
    /*border: 1px solid pink;*/
    list-style: none;
    margin-top: 30px;
}
.gigs >li {
    /*border: 1px solid pink;*/
    position: relative;
    /*margin-bottom: 30px;*/
}

.gigs > li .details {
    /*border: 1px solid pink;*/
    position: relative;
    top: -65px;
    left: 75px;
}

.gigs >li .details .artists {
    font-weight: bold;
    display: block;
}

.gigs >li .details .genres {
    font-size: 15px;
}

.gigs > li .date {
    /*border: 1px solid pink;*/
    background: red;
    color: white;
    text-align: center;
    width: 65px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs >li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs >li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
    /*-ms-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border: 2px solid #f7f7f7;*/
}



